@import "tailwindcss";

:root {
  --background: #676262;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #676262;
    --foreground: #ededed;
  }
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  height: auto; /* Remove height: 100% */
  width: auto;  /* Remove width: 100% */
}